<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    
    <title>{% block title %}base{% endblock %}</title>

</head>
<body>
    {% include 'alpha/navbar.html' %}

    {% block main_area %}
    {% endblock %}

    {% block side_area %}
    {% endblock %}

    {% include 'alpha/footer.html' %}
</body>
</html>